extends /pug-modules/layouts/iframe
block content
  .container
    svg(viewBox="0 0 800 600")
      symbol#symbol-text
        text(text-anchor="middle" x="50%" y="50%" dy=".4em") Code Shed
      - for(var i = 0; i < 6; i++)
        use.text(xlink:href="#symbol-text")