//
// Foundation
//
@use "./foundation/base";
//code-info
#code-info {
	//
	// Layout
	//
	&.l-layout {
		position: fixed;
    top: 0;
    left: 0;
		width: 100%;
    height: var(--window-h-full, 100vh);
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
	}
  .l-wrapper {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: auto;
    transition: all .3s cubic-bezier(0, 1.0, 0.85, 1);
    &[aria-hidden="true"] {
      transform: translate(0, 0);
      visibility: hidden;
    }
    &[aria-hidden="false"] {
      transform: translate(-100%, 0);
    }
  }
  .l-content {
    position: relative;
    height: 100%;
    padding: 2rem;
    overflow-y: scroll;
  }
  .l-main {
    position: relative;
  }
  .l-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 2rem;
  }
	//
	// Object
	//
  .button-slide {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    transition: all .2s cubic-bezier(0, 1.0, 0.85, 1);
    z-index: 1;
    pointer-events: auto;
    @media (hover: hover) {
      &:hover {
        .button-slide {
          &__dot {
            &:nth-of-type(3n-1){
              transform: scaleX(6);
            }
          }
        }
      }
    }
    &__dot {
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #fff;
      transform-origin: center center;
      transition: all .2s cubic-bezier(0, 1.0, 0.85, 1);
      &:nth-of-type(-n+3){
        // 1 ~ 3番目
        top: 0;
      }
      &:nth-of-type(n+4):nth-of-type(-n+6){
        // 4 ~ 6番目
        top: 1.25rem;
      }
      &:nth-of-type(n+7):nth-of-type(-n+9){
        // 7 ~ 9番目
        top: 2.5rem;
      }
      &:nth-of-type(3n-2){
        // 1,4,7番目
        left: 0;
      }
      &:nth-of-type(3n-1){
        // 2,5,8番目
        left: 1.25rem;
      }
      &:nth-of-type(3n){
        // 3,6,9番目
        left: 2.5rem;
      }
    }
    &[aria-expanded="true"] {
      transform: rotate(360deg);
      .button-slide {
        &__dot {
          opacity: 0;
          &:nth-of-type(2) {
            opacity: 1;
            transform: translate(0px, 1.25rem) rotate(-45deg) scaleX(6);
          }
          &:nth-of-type(8) {
            opacity: 1;
            transform: translate(0px, -1.25rem) rotate(45deg) scaleX(6);
          }
        }
      }
    }
  }
  .sns-icons {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 2rem;
    &__item {
      font-size: 1.5rem;
    }
  }
  .page-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .code-area {
    margin-top: 3rem;
  }
  .code + .code {
    margin-top: 1rem;
  }
  .code-title {
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s cubic-bezier(0, 1.0, 0.85, 1);
    @media (hover: hover) {
      &:hover {
        color: #90a4ae;
      }
    }
  }
  .to-top {
    margin-top: 3rem;
    &__link {
      padding-bottom: 4px;
      color: #4fc3f7;
      background-image: linear-gradient(to right, #4fc3f7, #4fc3f7);
      background-repeat: no-repeat;
      background-size: 0% 2px;
      background-position-x: right;
      background-position-y: 1em;
      transition: background-size 0.2s cubic-bezier(0, 1.0, 0.85, 1);
      @media (hover: hover) {
        &:hover {
          background-size: 100% 2px;
          background-position-x: left;
        }
      }
    }
  }
}
// code-example
#code-example {
	//
	// Layout
	//
	&.l-layout {
		position: relative;
		width: 100%;
		min-height: var(--window-h-full, 100vh);
		z-index: 1;
	}
}