mixin code(extension, text)
  - let summay = ""
  - let lang = ""
  case extension
    when "html"
      - summay = "HTML"
      - lang = "html"
    when "pug"
      - summay = "Pug"
      - lang = "pug"
    when "css"
      - summay = "CSS"
      - lang = "css"
    when "scss"
      - summay = "SCSS"
      - lang = "scss"
    when "js"
      - summay = "JavaScript"
      - lang = "js"
    when "ts"
      - summay = "TypeScript"
      - lang = "ts"
    default
      - summay = "言語がありません"
      - lang = "言語がありません"
  details.code
    summary.code-title
      span.code-title__text(data-text=summay) #{summay}
    div.code-content
      if lang == "html"
        pre
          code(class="language-" + lang)
            block
      else
        pre
          code(class="language-" + lang) #{text}


