mixin example(aspect="16/9", width = "full")
  .example-area(class="__" + width)
    iframe.example-iframe(src="/iframe" + current.path, title=current.pageTitle loading="lazy" style={"aspect-ratio":aspect})