#code-example {
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .section {
    position: relative;
    height: 100vh;
    padding: 0 1rem;
    text-align: center;
  }
  $colors: aqua, salmon, greenyellow, pink;
  @each $color in $colors {
    $i: index($colors, $color);
    .section:nth-child(#{$i}) {
      background: $color;
    }
  }
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
  }
  .container.__reverse {
    flex-direction: row-reverse;
  }
  .text {
    padding-right: 0.5rem;
    color: #000;
    word-break: break-all;
  }
  .container.__reverse .text {
    padding-right: 0rem;
    padding-left: 0.5rem;
  }
  .img-wrapper {
    flex-shrink: 0;
    position: relative;
    width: 200px;
    height: 100%;
  }
  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    transition: all 0.2s cubic-bezier(0.01, 0.35, 0, 0.95);
    will-change: transform;
  }
}
