include /pug-modules/mixins/code
doctype html
html(lang="ja")
  head
    include /pug-modules/includes/head.pug
  body
    .wrapper
      .content
        header.header
          div.site-title
            a(href="/") #{siteName}
        main.main
          h1.page-title #{current.pageTitle}
          block example
            .example-area
              iframe.example-iframe(src="/iframe" + current.path, title=current.pageTitle loading="lazy")
          .code-area
            block code-html
            block code-css
            block code-ts
    block scripts
      script(src="/assets/js/common.ts" type="module")
