extends /pug-modules/layouts/code
block code-html
  +code("html")
    :code-html
      p articleの外
      article
        h2 article > h2
        h2
          p article > h2 > p
        h2
          div
            p article > h2 > div > p
        p article > p
        div
          p article > div > p
block code-css
  +code("css",`article p:not(h2 > *) {
  background-color: skyblue;
}
article p:not(h2 *) {
  background-color: grey;
}`)
