- siteName = "Code Shed"
- description = "フロントエンドエンジニアのコード置き場"
- type = "website"
- path = "/"
- title ="Code Shed"
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    include /pug-modules/includes/head.pug
  body
    .wrapper
      .bg
        canvas#bgCanvas
      .content
        header.header
          h1.site-title.js-slide-anime
            span.text Code Shed
        main.main.__top
          p.description フロントエンドエンジニアのコード置き場
          ul.link-list
            li.link-item
              a.link(href="/code/donut-selector/") ドーナツセレクタ
            li.link-item
              a.link(href="/code/threejs-raycaster/") Three.jsのRaycasterで交差をしらべる
    script(src="/assets/js/common.ts" type="module")
    script(src="/assets/js/index.ts" type="module")
