extends /pug-modules/layouts/code
block example
  .wrapper
    #js-card-container.container
      .card
        .card__thumb
          img(src="https://picsum.photos/300/200", alt="" width="300" height="200")
        .card__title(data-text="タイトル") タイトル
        .card__body(data-text="テキストが入ります") テキストが入ります
        a.card__link(href="/" data-text="Topへもどる") Topへもどる
block code-html
  +code("pug", `.wrapper
  #js-card-container.container
    .card
      .card__thumb
        img(src="https://picsum.photos/300/200", alt="" width="300" height="200")
      .card__title(data-text="タイトル") タイトル
      .card__body(data-text="テキストが入ります") テキストが入ります
      a.card__link(href="/" data-text="Topへもどる") Topへもどる`)
block code-css
  +code("scss",`.wrapper {
  width: 100%;
  min-height: var(--window-h-full, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  padding: 2rem;
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: center;
  touch-action: none;
}
.card {
  width: calc(300px + 2rem);
  max-width: calc(100vw - 4rem);
  height: 400px;
  padding: 1rem;
  box-shadow: 0 0 10px 2px #efefef;
  border-radius: 8px;
  background-color: #efefef;
  color: #000;
  transition: 0.3s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
  &__title,
  &__body {
    position: relative;
    margin-top: 1rem;
    color: transparent;
    transform-style: preserve-3d;
    transition: inherit;
    &::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      color: #000;
      transition: inherit;
    }
  }
  &__thumb {
    transition: inherit;
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 3/2;
    }
  }
  &__link {
    display: inline-block;
    position: relative;
    margin-top: 2rem;
    color: transparent;
    transform-style: preserve-3d;
    transition: inherit;
    &::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      color: #4fc3f7;
      transition: inherit;
    }
  }
  &:hover {
    .card {
      &__title,
      &__body, &__link {
        opacity: 1;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        &::after {
          transform: translateZ(20px);
        }
      }
      &__thumb {
        transform: translateZ(20px) rotate(5deg);
      }
      &__link {
        text-shadow: 0 0 5px rgb(79, 195, 247, 0.5);
        &::after {
          transform: translateZ(20px);
        }
      }
    }
  }
}`)

block code-ts
  +code("ts", `type InputArgs = {
  start: number;
  end: number;
  current: number;
};
class Input {
  mouseX: {
    start: number;
    end: number;
    current: number;
    range: number;
    progress: number;
  };
  mouseY: {
    start: number;
    end: number;
    current: number;
    range: number;
    progress: number;
  };
  constructor({ mouseX, mouseY }: { mouseX: InputArgs; mouseY: InputArgs }) {
    this.mouseX = {
      ...mouseX,
      range: mouseX.end - mouseX.start,
      progress: 0,
    };
    this.mouseY = {
      ...mouseY,
      range: mouseY.end - mouseY.start,
      progress: 0,
    };
  }
  _updateProgress() {
    this.mouseX.progress = this.mouseX.current / this.mouseX.range;
    this.mouseY.progress = this.mouseY.current / this.mouseY.range;
  }
  udpateCurrent(x: number, y: number) {
    this.mouseX.current = x;
    this.mouseY.current = y;
    this._updateProgress();
  }
  updateRange(
    x: {
      start: number;
      end: number;
    },
    y: {
      start: number;
      end: number;
    }
  ) {
    this.mouseX.start = x.start;
    this.mouseX.end = x.end;
    this.mouseX.range = x.end - x.start;

    this.mouseY.start = y.start;
    this.mouseY.end = y.end;
    this.mouseY.range = y.end - y.start;
  }
}

type OutputArgs = {
  start: number;
  end: number;
  current: number;
};
class Output {
  x: {
    start: number;
    end: number;
    current: number;
    range: number;
  };
  y: {
    start: number;
    end: number;
    current: number;
    range: number;
  };
  constructor({ x, y }: { x: OutputArgs; y: OutputArgs }) {
    this.x = {
      ...x,
      range: x.end - x.start,
    };
    this.y = {
      ...y,
      range: y.end - y.start,
    };
  }
  updateCurrent(x: number, y: number) {
    this.x.current = x;
    this.y.current = y;
  }
}

const init = () => {
  const cardContainer = document.getElementById(
    "js-card-container"
  ) as HTMLDivElement;
  const card = cardContainer.querySelector(".card") as HTMLDivElement;

  const mouse = {
    x: 0,
    y: 0,
  };

  const input = new Input({
    mouseX: {
      start: 0,
      end: window.innerWidth,
      current: 0,
    },
    mouseY: {
      start: 0,
      end: window.innerHeight,
      current: 0,
    },
  });

  const output = new Output({
    x: {
      start: -45,
      end: 45,
      current: 0,
    },
    y: {
      start: -60,
      end: 60,
      current: 0,
    },
  });

  const updatedInputs = () => {
    input.udpateCurrent(mouse.x, mouse.y);
  };
  const updatedOutpus = () => {
    const x = output.x.start + input.mouseX.progress * output.x.range;
    const y = output.y.start + input.mouseY.progress * output.y.range;
    output.updateCurrent(x, y);
  };

  const handleResize = () => {
    const x = {
      start: 0,
      end: window.innerWidth,
    };
    const y = {
      start: 0,
      end: window.innerHeight,
    };
    input.updateRange(x, y);
  };
  const handlePointerMove = (e: PointerEvent) => {
    mouse.x = e.clientX;
    mouse.y = e.clientY;
    updatedInputs();
    updatedOutpus();
    card.style.transform = \`rotateX(\${output.y.current}deg) rotateY(\${output.x.current}deg)\`;
  };
  const handlePointerLeave = () => {
    card.style.transform = \`rotateX(0deg) rotateY(0deg)\`;
  };

  cardContainer.addEventListener("pointermove", handlePointerMove);
  cardContainer.addEventListener("pointerleave", handlePointerLeave);
  window.addEventListener("resize", handleResize);
};
window.addEventListener("DOMContentLoaded", init);`)
