#code-example {
  .wrapper {
    width: 100%;
    min-height: var(--window-h-full, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    position: relative;
    padding: 2rem;
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: center;
    touch-action: none;
  }
  .card {
    width: calc(300px + 2rem);
    max-width: calc(100vw - 4rem);
    height: 400px;
    padding: 1rem;
    box-shadow: 0 0 10px 2px #efefef;
    border-radius: 8px;
    background-color: #efefef;
    color: #000;
    transition: 0.3s ease-out;
    transform-style: preserve-3d;
    perspective: 1000px;
    will-change: transform;
    &__title,
    &__body {
      position: relative;
      margin-top: 1rem;
      transform-style: preserve-3d;
      transition: inherit;
      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: inherit;
      }
    }
    &__thumb {
      transition: inherit;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
      }
    }
    &__link {
      display: inline-block;
      position: relative;
      margin-top: 2rem;
      color: #4fc3f7;
      transform-style: preserve-3d;
      transition: inherit;
      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: inherit;
      }
    }
    &:hover {
      .card {
        &__title,
        &__body, &__link {
          transform: translateZ(20px);
          &::after {
            opacity: 1;
            color: transparent;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            transform: translateZ(-20px);
          }
        }
        &__thumb {
          transform: translateZ(20px) rotate(5deg);
        }
        &__link {
          transform: translateZ(20px);
          &::after {
            opacity: 1;
            color: transparent;
            text-shadow: 0 0 5px rgb(79, 195, 247, 0.5);
            transform: translateZ(-20px);
          }
        }
      }
    }
  }
}
